<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form editor</title>
    <link rel="stylesheet" href="../material.min.css">
    <link rel="stylesheet" href="../selectize.default.min.css">
    <script src="../jquery-3.7.1.min.js"></script>
    <script src="../selectize.min.js"></script>
    <script src="../material.min.js"></script>
    <script src="../functions.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .ontology-list {
            width: 300px;
        }
        .property-row {
            width: 100%;
            padding-top: 75px;
        }
        .property-select {
            /* width: 300px; */
            /*float: left;*/
        }
        .property-field {
            float: left;
            margin-left: 5%;
            width: 26.67%;
            position: relative;
            text-align: left;
        }
        .clickable-button {
            cursor: pointer;
        }
    </style>
    <!-- Quelle für autocomplete: https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
    <!-- Quelle für selectize: https://selectize.dev/ -->
    <script>

        let elements = 0;

        function removeFormElement(id) {
            let item = document.getElementById(id);
            const fieldContainer = document.querySelector('.field-container');
            fieldContainer.removeChild(item);
        }

        function addNewFormElement() {
            const fieldContainer = document.querySelector('.field-container');
            const newField = document.createElement('div');
            newField.id = `field-${elements}`;
            newField.className = "property-row";
            newField.innerHTML = `
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label property-field">
                    <input class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Field name</label>
                </div>
                <div class="property-field">
                    <label>Property</label>
                    <select id="prop-select-` + elements + `" class="property-select"></select>
                </div>
                <div class="property-field">
                    <button type="button" class="mdl-button delete-form-element"
                    onclick="removeFormElement('field-` + elements + `')">Remove</button>
                </div>
            `;
            fieldContainer.appendChild(newField);
            $('#prop-select-' + elements).selectize({
                options: availableProperties,
                valueField: 'name',
                labelField: 'name',
                searchField: 'name',
                maxItems: 1,
                closeAfterSelect: true
            });
            elements++;
        }

        let availableProperties = [];

        function refreshAvailableProperties() {
            const ontologyClass = document.getElementById("ontologyClass").value;
            const ontology = document.getElementById("ontologyName").value;
            fetch(`/api/ontologies/${ontology}/classes/${ontologyClass}/properties`)
                .then(async function (response) {
                    availableProperties = await response.json();
                    $('.property-select').selectize({
                        options: availableProperties,
                        valueField: 'name',
                        labelField: 'name',
                        searchField: 'name',
                        maxItems: 1,
                        closeAfterSelect: true
                    });
                })
        }




    </script>
</head>
<body>
    <h1>Form editor</h1>
    <form>
        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="formName" th:value="${form}" disabled>
                <label class="mdl-textfield__label" for="formName">Form name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="ontologyName"
                       th:value="${ontology}" disabled>
                <label class="mdl-textfield__label" for="ontologyName">Ontology</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="ontologyClass" onchange="refreshAvailableProperties()">
                <label class="mdl-textfield__label" for="ontologyClass">Ontology class</label>
            </div>
        </div>
        <div>
            <button type="button" class="mdl-button" onclick="addNewFormElement()">Add new field</button>
            <div class="field-container"></div>
        </div>
    </form>
    <div style="padding-top: 100px">
        <a href="/" id="return-to-homepage-button" class="mdl-button mdl-js-button mdl-button--raised">
            Cancel
        </a>
    </div>
    <script th:inline="javascript">
        const ontologyClasses = [[${ontologyClasses}]];
        autocomplete(document.getElementById("ontologyClass"), ontologyClasses.map(cl => cl.name));
        refreshAvailableProperties();
    </script>
</body>
</html>