<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill form</title>
    <link rel="stylesheet" href="/material.min.css">
    <link rel="stylesheet" href="/selectize.default.min.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/selectize.min.js"></script>
    <script src="/material.min.js"></script>
    <script src="/functions.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1 th:text="${form}"></h1>
    <form id="fillform" th:action="@{/api/forms/{name}/fill(name=${form})}" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <input id="ontologyName" class="mdl-textfield__input" type="text" name="ontologyName"
                   th:value="${ontology}" readonly>
            <label class="mdl-textfield__label" for="ontologyName">Ontology</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input id="targetClass" class="mdl-textfield__input" type="text" name="targetClass"
                   th:value="${targetClass}" readonly>
            <label class="mdl-textfield__label" for="targetClass">Ontology</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input id="instanceName" class="mdl-textfield__input" type="text" name="instanceName">
            <label class="mdl-textfield__label" for="instanceName">Instance name</label>
        </div>
        <div th:each="field: ${formElements}">
            <div th:if="${field.fieldType == 'Input'}">
                <div th:replace="form-fields.html :: stringField (name=${field.name}, propName=${field.ontologyProperty.name})"></div>
            </div>
            <div th:if="${field.fieldType == 'Number'}">
                <div th:replace="form-fields.html :: numberField (name=${field.name}, propName=${field.ontologyProperty.name})"></div>
            </div>
            <div th:if="${field.fieldType == 'Datetime'}">
                <div th:replace="form-fields.html :: dateTimeField (name=${field.name}, propName=${field.ontologyProperty.name})"></div>
            </div>
            <div th:if="${field.fieldType == 'ObjectSelect'}">
                <div th:replace="form-fields.html :: objectSelectField (name=${field.name}, propName=${field.ontologyProperty.name})"></div>
            </div>
        </div>
        <div style="padding-top: 70px">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Save</button>
        </div>
    </form>
    <div style="padding-top: 100px">
        <a onclick="createDraft()" id="create-draft-button" class="mdl-button mdl-js-button mdl-button--raised">
            Create draft
        </a>
    </div>
    <div style="padding-top: 100px">
        <a href="/" id="return-to-homepage-button" class="mdl-button mdl-js-button mdl-button--raised">
            Cancel
        </a>
    </div>
    <script th:inline="javascript">
        const ontologyName = [[${ontology}]];
        const allFormElements = [[${formElements}]];
        const formName = [[${form}]];
        const setElements = [[${setElements}]];

        function createDraft() {
            const form = document.querySelector('#fillform');
            const formData = new FormData(form);
            let formString = {};
            formData.forEach(function(value, key){
                formString[key] = value;
            });
            let formJSON = JSON.stringify(formString);
            fetch(`/api/forms/${formName}/draft`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: formJSON,
            })
                .then(() => {
                    location.href = '/';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        let promises = [];
        $(".object-select").each(function(index, element) {
            const fieldName = element.name;
            const fieldId = element.id;
            const currentFormElement = allFormElements
                .find(formElement => formElement.ontologyProperty.name === fieldName)
            const className = currentFormElement.ontologyProperty.objectRange.name;

            promises.push(fetch(`/api/ontologies/${ontologyName}/classes/${className}/individuals`)
                .then(async function(response) {
                    let allIndividuals = await response.json();
                    $('#' + fieldId).selectize({
                        valueField: 'name',
                        labelField: 'name',
                        searchField: 'name',
                        maxItems: 1,
                        options: allIndividuals,
                    });
                }));
        });

        if (setElements) {
            Promise.all(promises).then(() => {
                loadDraft();
            });
        }

        function loadDraft() {
            document.getElementById('instanceName').value = [[${individualName}]];
            for (let i = 0; i < setElements.length; i++) {
                const element = setElements[i];
                for (let j = 0; j < allFormElements.length; j++) {
                    if (allFormElements[j].ontologyProperty.name === element.fieldName) {
                        const input = document.getElementById('input-' + allFormElements[j].name);
                        if (input) {
                            input.value = element.value;
                            break;
                        }
                        const objectSelect = document.getElementById("object-select-" + allFormElements[j].name);
                        if (objectSelect) {
                            objectSelect.selectize.setValue(element.value);
                            break;
                        }
                        break;
                    }
                }
            }
        }

    </script>
</body>
</html>