<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill form</title>
    <link rel="stylesheet" href="/material.min.css">
    <link rel="stylesheet" href="/selectize.default.min.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/selectize.min.js"></script>
    <script src="/material.min.js"></script>
    <script src="/functions.js"></script>
    <script src="/js-loading-overlay.min.js"></script>
    <script src="/sigma.min.js"></script>
    <script src="/graphology.umd.min.js"></script>
    <script src="/bundle.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<h1 th:text="${form}"></h1>
<form id="fillform" th:action="@{/api/forms/{name}/fill(name=${form})}" method="post">
    <div class="mdl-textfield mdl-js-textfield">
        <label for="ontologyName">Ontology</label>
        <input id="ontologyName" class="mdl-textfield__input" type="text" name="ontologyName"
               th:value="${ontology}" readonly>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label for="targetClass">Class</label>
        <input id="targetClass" class="mdl-textfield__input" type="text" name="targetClass"
               th:value="${targetClass.name}" readonly>
    </div>
    <div class="mdl-textfield mdl-js-textfield" style="margin-bottom: 50px">
        <label for="instanceName">Instance name</label>
        <input id="instanceName" class="mdl-textfield__input" type="text" name="instanceName">
    </div>
    <div th:each="field: ${formElements}">
        <div class="mdl-card mdl-shadow--8dp" style="width: 60%; min-height: 120px">
            <div th:if="${field.fieldType == 'Input'}">
                <div th:replace="form-fields.html :: stringField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Number'}">
                <div th:replace="form-fields.html :: numberField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Datetime'}">
                <div th:replace="form-fields.html :: dateTimeField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'ObjectSelect'}">
                <div th:replace="form-fields.html :: objectSelectField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
        </div>
    </div>
    <div th:each="field: ${additionalElements}">
        <div class="mdl-card mdl-shadow--8dp" style="width: 100%;">
            <div th:if="${field.fieldType == 'Input'}">
                <div th:replace="form-fields.html :: stringField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Number'}">
                <div th:replace="form-fields.html :: numberField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Datetime'}">
                <div th:replace="form-fields.html :: dateTimeField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'ObjectSelect'}">
                <div th:replace="form-fields.html :: objectSelectField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
        </div>
    </div>
    <div>
        <button id="new-field-button" type="button" class="mdl-button mdl-js-button mdl-button--raised" style="margin-top: 50px">
            Add new field
        </button>
    </div>
    <div style="display: flex; padding-top: 100px">
        <div>
            <button id="save-button" type="button" class="mdl-button mdl-js-button mdl-button--raised">Save</button>
        </div>
        <div>
            <button id="validate-save-button" type="button" class="mdl-button mdl-js-button mdl-button--raised">Validate and
                save
            </button>
        </div>
    </div>
</form>
<dialog id="add-property-dialog">
    <h2>Add field to form</h2>
    <p>Add a new field to this form instance. How do you want to call your field?
    </p>
    <div>
        <label for="new-property-input">Property</label>
        <input id="new-property-input" name="new-property-input"></input>
        <button id="new-property">Search</button>
        <button id="new-property-reset">Reset</button>
    </div>

    <div>
        <label for="new-property-class-select">Select a property</label>
        <select id="new-property-class-select" name="new-property-class-select"></select>
    </div>

    <div>
        <p>Description:</p>
        <p id="new-property-comment"></p>
    </div>

    <div>
        <p>Content of this field:</p>
        <p id="new-property-class-range"></p>
    </div>

    <button>
        <a onclick="openNewPropertyDialog()">Create new property</a>
    </button>
    <button>
        <a onclick="createField()">Create field</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<dialog id="add-new-property-dialog">
    <h2>Add new property to ontology</h2>
    <p>Create a new property and add a field to this ontology.</p>

    <div>
        <label for="new-property-name">Property name</label>
        <input type="text" name="new-property-name" id="new-property-name">
    </div>
    <div>
        <label for="new-property-description">Description/comment</label>
        <textarea name="new-property-description" id="new-property-description"> </textarea>
    </div>
    <fieldset>
        <legend>Select a range type</legend>
        <div>
            <input type="radio" id="create-property-dialog-option-1" name="create-property-dialog-option"
                   value="1" onclick="createNewProperty_checkOption()" checked>
            <label for="create-property-dialog-option-1">Data object</label>
        </div>
        <div>
            <input type="radio" id="create-property-dialog-option-2" name="create-property-dialog-option"
                   value="2" onclick="createNewProperty_checkOption()">
            <label for="create-property-dialog-option-2">Individual from ontology</label>
        </div>
        <div id="div-datatype-option" style="display:block">
            <select id="create-property-with-datatype" name="create-property-with-datatype">
                <option value="string">String</option>
                <option value="int">Integer</option>
                <option value="float">Float</option>
                <option value="datetime">Datetime</option>
            </select>
            <label for="create-property-with-datatype">Datatype</label>
        </div>
        <div id="div-object-option" style="display:none">
            <button>
                <a onclick="selectObjectPropertyFromGraph()">Select class from graph</a>
            </button>
            <input id="create-property-with-object" type="text" name="create-property-with-object" readonly>
        </div>
        <div>
            <input type="checkbox" id="create-property-skip-validate" name="create-property-skip-validate">
            <label for="create-property-skip-validate">Skip validation (only for experienced users!)</label>
        </div>
    </fieldset>
    <button>
        <a onclick="createNewProperty()">Create property</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>

</dialog>
<dialog id="select-class-for-property-dialog">
    <h1>Classes of ontology</h1>
    <h2 th:text="${ontology}"></h2>
    <h3>Select the range of the new property</h3>
    <div id="class-select-container" style="width: 800px; height: 600px; background: white"
         oncontextmenu="return false;"></div>
    <div>
        <input id="new-object-property-range" type="text" name="new-object-property-range" readonly>
        <label for="new-object-property-range">Selected class</label>
    </div>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<dialog id="add-subclass-dialog">
    <h2>Add new subclass</h2>
    <p>Enter a name for the class. The class will be created as a subclass of </p>
    <p id="add-subclass-dialog-superclass"></p>
    <div class="mdl-textfield mdl-js-textfield">
        <input id="newClassName" class="mdl-textfield__input" type="text" name="newClassName">
        <label class="mdl-textfield__label" for="newClassName">Class name</label>
    </div>
    <button>
        <a onclick="createSubclass()">Create subclass</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<dialog id="add-individual-dialog">
    <h2>Create new individual</h2>
    <p>How do you want to create a new individual for the following class?
        (The current form will be saved as draft)
    </p>
    <p id="create-individual-dialog-ontology-class"></p>
    <fieldset>
        <legend>Select a creation option.</legend>
        <div>
            <input type="radio" id="create-individual-dialog-option-1" name="create-individual-dialog-option"
                   value="1" checked>
            <label for="create-individual-dialog-option-1">Empty individual</label>
            <input type="text" name="create-individual-name" id="create-individual-name">
            <label for="create-individual-name">Individual name</label>
        </div>
        <div>
            <input type="radio" id="create-individual-dialog-option-2" name="create-individual-dialog-option"
                   value="2">
            <label for="create-individual-dialog-option-2">Create from form</label>
            <select id="create-individual-form-list"></select>
            <label for="create-individual-form-list">Forms</label>
        </div>
    </fieldset>
    <button>
        <a onclick="createIndividual()">Create individual</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<div style="padding-top: 20px">
    <a onclick="createDraftAndGoToHomepage()" id="create-draft-button"
       class="mdl-button mdl-js-button mdl-button--raised">
        Create draft
    </a>
</div>
<div style="padding-top: 20px">
    <a href="/" id="return-to-homepage-button" class="mdl-button mdl-js-button mdl-button--raised">
        Cancel
    </a>
</div>
<script th:inline="javascript">
    const ontologyName = [[${ontology}]];
    const formElements = [[${formElements}]];
    const additionalElements = [[${additionalElements}]];
    const allFormElements = formElements.concat(additionalElements);
    const formName = [[${form}]];
    const setElements = [[${setElements}]];
    const targetClass = [[${targetClass}]];
    JsLoadingOverlay.show({'spinnerIcon': 'ball-clip-rotate'});

    // noinspection JSUnusedGlobalSymbols
    function editIndividual(id) {
        createDraft().then(
            () => {
                let indivName = $('#' + id)[0].value;
                if (indivName === '') {
                    return;
                }
                location.href = '/edit/ontologies/' + ontologyName + '/individuals/' + indivName;
            }
        );
    }

    function addIndividual(propName) {
        let rangeName = allFormElements.find(formElement => formElement.ontologyProperty.name === propName).ontologyProperty.objectRange.name;
        document.getElementById('create-individual-dialog-ontology-class').innerText = rangeName;
        fetch(`/api/forms?ontologyName=${ontologyName}&targetClass=${rangeName}`)
            .then(async function (response) {
                let allForms = await response.json();
                let select = document.getElementById('create-individual-form-list');
                for (let i = 0; i < allForms.length; i++) {
                    let option = document.createElement('option');
                    option.value = allForms[i].formName;
                    option.text = allForms[i].formName;
                    select.add(option);
                }
            });
        const dialog = document.querySelector('#add-individual-dialog');
        dialog.showModal();
    }

    function createIndividual() {
        if (document.getElementById("create-individual-dialog-option-1").checked) {
            // Empty individual
            let individualName = document.getElementById("create-individual-name").value;
            let className = document.getElementById('create-individual-dialog-ontology-class').innerText
            if (individualName === '') {
                alert('Individual name cannot be empty');
                return;
            }
            fetch(`/api/ontologies/${ontologyName}/classes/${className}/individuals/${individualName}`, {
                method: 'POST',
            }).then(() => {
                let draftName = document.getElementById('instanceName').value;
                createDraft().then(
                    () => location.href = '/fill/' + formName + '/draft/' + draftName
                );
            });
        } else {
            // Create from form
            let formName = document.getElementById('create-individual-form-list').value;
            if (formName === '') {
                alert('Please select a form');
                return;
            }
            createDraft().then(
                () => location.href = '/fill/' + formName + "?ontology=" + ontologyName
            )
        }
    }

    function createDraftAndGoToHomepage() {
        createDraft().then(
            () => location.href = '/'
        ).catch();
    }

    function createField() {
        let propName = document.getElementById('new-property-class-select').value;
        let draftName = document.getElementById('instanceName').value;
        createDraft()
            .then(() => fetch(`/api/forms/${formName}/drafts/${draftName}/field/${propName}`, {
                    method: 'POST'
                })
                    .then(() => location.href = `/fill/${formName}/draft/${draftName}`)
            );
    }

    function openNewPropertyDialog() {
        const newDialog = document.querySelector('#add-property-dialog');
        newDialog.close();
        const dialog = document.querySelector('#add-new-property-dialog');
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });
        dialog.showModal();
    }

    let subclassGraphBuild = false;

    function selectObjectPropertyFromGraph() {
        const newDialog = document.querySelector('#select-class-for-property-dialog');
        newDialog.querySelector('.close').addEventListener('click', function () {
            let output = document.getElementById('new-object-property-range');
            let outputOnOtherDialog = document.getElementById('create-property-with-object');
            outputOnOtherDialog.value = output.value
            newDialog.close();
        });
        newDialog.showModal();
        if (!subclassGraphBuild) {
            fetch(`/api/ontologies/${ontologyName}/classes`)
                .then(async function (response) {
                    let graph = await response.json();
                    let output = document.getElementById('new-object-property-range');
                    let container = document.getElementById('class-select-container');
                    myFuncs.buildSubclassGraphForPropertyRangeSelection(graph, container, output);
                    subclassGraphBuild = true;
                });
        }
    }

    function createNewProperty_checkOption() {
        let option = document.querySelector('input[name="create-property-dialog-option"]:checked').value;
        if (option === '1') {
            document.getElementById('div-datatype-option').style.display = 'block';
            document.getElementById('div-object-option').style.display = 'none';
        } else {
            document.getElementById('div-datatype-option').style.display = 'none';
            document.getElementById('div-object-option').style.display = 'block';
        }
    }

    function createNewProperty() {
        let option = document.querySelector('input[name="create-property-dialog-option"]:checked').value;
        let propName = document.getElementById('new-property-name').value;
        if (propName === '') {
            alert('Property name cannot be empty');
            return;
        }
        let propDescription = document.getElementById('new-property-description').value;
        let range;
        let isObjectProperty;
        let validate = !document.getElementById('create-property-skip-validate').checked;
        if (option === '1') {
            range = document.getElementById('create-property-with-datatype').value;
            isObjectProperty = false;
        } else {
            range = document.getElementById('create-property-with-object').value;
            isObjectProperty = true;
        }
        let body = {
            'propName': propName,
            'propDescription': propDescription,
            'domain': targetClass,
            'isObjectProperty': isObjectProperty,
            'range': range,
        };
        fetch(`/api/ontologies/${ontologyName}/properties/${propName}?validate=${validate}`, {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(async response => {
            if (!response.ok) {
                if (response.status === 400) {
                    alert(await response.text());
                } else {
                    alert('An error has occurred');
                }
            } else {
                location.reload()
            }
        });
    }

    async function createDraft() {
        const form = document.querySelector('#fillform');
        const formData = new FormData(form);
        let normalFields = {};
        let additionalFields = {};
        formData.forEach(function (value, key) {
            if (additionalElements.find(field => field.name === key)) {
                if (additionalFields[key] === undefined) {
                    additionalFields[key] = [value];
                } else {
                    additionalFields[key].push(value);
                }
            } else {
                if (normalFields[key] === undefined) {
                    normalFields[key] = [value];
                } else {
                    normalFields[key].push(value);
                }
            }
        });
        let formString = {
            'normalFields': normalFields,
            'additionalFields': additionalFields
        };
        if (normalFields['instanceName'] === '') {
            alert('Instance name cannot be empty');
            throw 0;
        }
        let formJSON = JSON.stringify(formString);
        return fetch(`/api/forms/${formName}/draft`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: formJSON,
        });
    }

    let promises = [];
    $(".object-select").each(function (index, element) {
        const fieldName = element.name;
        const fieldId = element.id;
        const currentFormElement = allFormElements
            .find(formElement => formElement.ontologyProperty.name === fieldName)
        const className = currentFormElement.ontologyProperty.objectRange.name;
        const maximumValues = currentFormElement.maximumValues;

        promises.push(fetch(`/api/ontologies/${ontologyName}/classes/${className}/individuals?restrictionDomain=${encodeURIComponent(targetClass.uri)}&restrictionProperty=${encodeURIComponent(currentFormElement.ontologyProperty.uri)}`)
            .then(async function (response) {
                let allIndividuals = await response.json();
                $('#' + fieldId).selectize({
                    valueField: 'name',
                    labelField: 'name',
                    searchField: 'name',
                    maxItems: 1,
                    options: allIndividuals,
                    render: {
                        option: function (item, escape) {
                            if (item.imported) {
                                return '<div class="option" style="color:#FD0000">' + escape(item.name) + '</div>';
                            } else {
                                return '<div class="option" style="color:#000000">' + escape(item.name) + '</div>';
                            }
                        },
                        item: function (item, escape) {
                            if (item.imported) {
                                return '<div class="option" style="color:#FD0000">' + escape(item.name) + '</div>';
                            } else {
                                return '<div class="option" style="color:#000000">' + escape(item.name) + '</div>';
                            }
                        }
                    }

                });
            }));
    });

    Promise.all(promises).then(() => {
        if (setElements) {
            loadDraft();
        }
        JsLoadingOverlay.hide();
    });


    function loadDraft() {
        document.getElementById('instanceName').value = [[${individualName}]];
        for (let i = 0; i < setElements.length; i++) {
            const element = setElements[i];
            for (let j = 0; j < allFormElements.length; j++) {
                if (allFormElements[j].ontologyProperty.name === element.fieldName) {
                    const input = document.getElementById('input-' + allFormElements[j].name);
                    const objectSelect = document.getElementById("object-select-" + allFormElements[j].name);
                    for (let k = 0; k < element.values.length; k++) {
                        if (k === 0) {
                            if (input) {
                                input.value = element.values[k];
                            } else {
                                objectSelect.selectize.setValue(element.values[k]);
                            }
                        } else {
                            if (input) {
                                let clone = addField('main-container-' + allFormElements[j].name,
                                    'template-' + allFormElements[j].name, false);
                                clone.value = element.values[k];
                            } else {
                                let clone = addField('main-container-' + allFormElements[j].name,
                                    'template-' + allFormElements[j].name, true);
                                clone.selectize.setValue(element.values[k]);
                            }
                        }
                    }
                }
            }
        }
    }

    const dialog = document.querySelector('#add-individual-dialog');
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });

    let allPropertiesOfTargetClass;

    const newFieldDialog = document.querySelector('#add-property-dialog');
    const newFieldButton = document.querySelector('#new-field-button');
    newFieldButton.addEventListener('click', function () {
        JsLoadingOverlay.show({'spinnerIcon': 'ball-clip-rotate'});
        fetch(`/api/ontologies/${ontologyName}/classes/${targetClass}/properties`)
            .then(async function (response) {
                let allProperties = await response.json();
                allPropertiesOfTargetClass = allProperties;
                $('#new-property-class-select').selectize({
                    valueField: 'name',
                    labelField: 'name',
                    searchField: 'name',
                    maxItems: 1,
                    options: allProperties,
                    onChange: value => {
                        let string;
                        if (value !== '') {
                            let objectProp = allProperties.find(property => property.name === value).objectProperty;
                            let comment = allProperties.find(property => property.name === value).rdfsComment;
                            if (objectProp) {
                                let range = allProperties.find(property => property.name === value).objectRange;
                                if (range) {
                                    string = "Another instance: " + range.name;
                                } else {
                                    string = "Another instance";
                                }
                            } else {
                                string = allProperties.find(property => property.name === value).datatypeRange;
                            }
                            document.getElementById('new-property-class-range').innerText = string;
                            if (comment === undefined) {
                                comment = '';
                            }
                            document.getElementById('new-property-comment').innerText = comment;
                        } else {
                            document.getElementById('new-property-class-range').innerText = '';
                            document.getElementById('new-property-comment').innerText = '';
                        }

                    }
                });
                JsLoadingOverlay.hide();
                newFieldDialog.showModal();
            });
    });
    newFieldDialog.querySelector('.close').addEventListener('click', function () {
        newFieldDialog.close();
    });

    const newPropertySearchButton = document.querySelector('#new-property');
    newPropertySearchButton.addEventListener('click', function () {
        let query = document.getElementById('new-property-input').value;
        fetch(`/api/ontologies/${ontologyName}/classes/${targetClass}/properties?query=${query}`)
            .then(async function (response) {
                let allProperties = await response.json();
                let select = $('#new-property-class-select')[0].selectize;
                select.clear();
                select.clearOptions();
                for (let i = 0; i < allProperties.length; i++) {
                    select.addOption(allProperties[i]);
                }
            });
    });

    const newPropertyResetButton = document.querySelector('#new-property-reset');
    newPropertyResetButton.addEventListener('click', function () {
        let select = $('#new-property-class-select')[0].selectize;
        select.clear();
        select.clearOptions();
        allPropertiesOfTargetClass.forEach(property => select.addOption(property));
    });

    const saveButton = document.querySelector('#save-button');
    saveButton.addEventListener('click', function () {
        const formJson = formDataToJSON();
        fetch(`/api/forms/${formName}/fill?validate=false`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: formJson
        })
            .then(async function (response) {
                if (response.ok) {
                    location.href = '/';
                } else {
                    alert("An error has occurred");
                }
            })
    });

    const validateSaveButton = document.querySelector('#validate-save-button');
    validateSaveButton.addEventListener('click', function () {
        createDraft().then(async function () {
            if (!checkIfRequiredFieldsAreFilled()) return;
            JsLoadingOverlay.show({'spinnerIcon': 'ball-clip-rotate'});
            const formJson = formDataToJSON();
            fetch(`/api/forms/${formName}/fill?validate=true`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: formJson
            })
                .then(async function (response) {
                    JsLoadingOverlay.hide();
                    if (response.ok) {
                        location.href = '/';
                    } else {
                        let allErrors = await response.text();
                        alert(allErrors);
                    }
                })
        });
    });

    function checkIfRequiredFieldsAreFilled() {
        let form = document.querySelector('#fillform');
        let formData = new FormData(form);
        let requiredFields = allFormElements.filter(formElement => formElement.required);
        for (let i = 0; i < requiredFields.length; i++) {
            let formElement = requiredFields[i];
            let propertyName = formElement.ontologyProperty.name;
            let values = formData.getAll(propertyName);
            if (values.length === 0 || values[0] === '') {
                alert("The field " + formElement.name + " is required");
                return false;
            }
        }
        return true;
    }

    function formDataToJSON() {
        const form = document.querySelector('#fillform');
        const formData = new FormData(form);
        let json = {};
        formData.forEach(function (value, key) {
            if (json[key] === undefined) {
                json[key] = [value];
            } else {
                json[key].push(value);
            }
        });
        return JSON.stringify(json);
    }

    function addField(containerId, templateId, isObjectSelect) {
        let container = document.getElementById(containerId);
        let copies = container.getElementsByClassName('copy-' + containerId);
        let template = document.getElementById(templateId);
        let formElementName = templateId.replace('template-', '');
        let formElement = allFormElements.find(formElement => formElement.name === formElementName);
        if (copies.length >= formElement.maximumValues - 1) {
            alert('Maximum number of values reached');
        } else {
            let clone = template.cloneNode(true);
            clone.id = 'copy-' + templateId + Math.random().toString(36).substring(7);
            clone.classList.add('copy-' + containerId);
            container.appendChild(clone);
            if (isObjectSelect) {
                let brokenSelect = clone.querySelector('.selectize-control');
                brokenSelect.remove();
                let select = clone.querySelector('select');
                select.id = 'object-select-' + formElementName + '-' + (copies.length + 1);
                $('#' + select.id).selectize({
                    valueField: 'name',
                    labelField: 'name',
                    searchField: 'name',
                    maxItems: 1,
                    options: Object.values($('#object-select-' + formElementName)[0].selectize.options),
                    render: {
                        option: function (item, escape) {
                            if (item.imported) {
                                return '<div class="option" style="color:#FD0000">' + escape(item.name) + '</div>';
                            } else {
                                return '<div class="option" style="color:#000000">' + escape(item.name) + '</div>';
                            }
                        },
                        item: function (item, escape) {
                            if (item.imported) {
                                return '<div class="option" style="color:#FD0000">' + escape(item.name) + '</div>';
                            } else {
                                return '<div class="option" style="color:#000000">' + escape(item.name) + '</div>';
                            }
                        }
                    }
                });
                return select;
            } else {
                let input = clone.querySelector('input');
                input.value = '';
                return input;
            }
        }
    }

    function removeField(containerId) {
        let container = document.getElementById(containerId);
        let copies = container.getElementsByClassName('copy-' + containerId);
        if (copies.length > 0) {
            container.removeChild(copies[copies.length - 1]);
        }
    }

    function createSubclass() {
        const newClassName = document.getElementById('newClassName').value;
        const superclass = document.getElementById('add-subclass-dialog-superclass').textContent;
        fetch('/api/ontologies/' + ontologyName + '/classes/' + newClassName + '?superClass=' + superclass, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });
    }

</script>
</body>
</html>