<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill form</title>
    <link rel="stylesheet" href="/material.min.css">
    <link rel="stylesheet" href="/selectize.default.min.css">
    <script src="/src/formfill.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/selectize.min.js"></script>
    <script src="/material.min.js"></script>
    <script src="/functions.js"></script>
    <script src="/js-loading-overlay.min.js"></script>
    <script src="/sigma.min.js"></script>
    <script src="/graphology.umd.min.js"></script>
    <script src="/bundle.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<h1 th:text="${form}"></h1>
<form id="fillform" th:action="@{/api/forms/{name}/fill(name=${form})}" method="post">
    <div class="mdl-textfield mdl-js-textfield">
        <label for="ontologyName">Ontology</label>
        <input id="ontologyName" class="mdl-textfield__input" type="text" name="ontologyName"
               th:value="${ontology}" readonly>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label for="targetClass">Class</label>
        <input id="targetClass" class="mdl-textfield__input" type="text" name="targetClass"
               th:value="${targetClass.name}" readonly>
    </div>
    <div class="mdl-textfield mdl-js-textfield" style="margin-bottom: 50px">
        <label for="instanceName">Instance name</label>
        <input id="instanceName" class="mdl-textfield__input" type="text" name="instanceName">
    </div>
    <div th:each="field: ${formElements}" class="fillField" style="padding-top: 10px; padding-left: 10px">
        <div class="mdl-card mdl-shadow--8dp" style="width: 60%; min-height: 120px; padding-left: 10px">
            <div th:if="${field.fieldType == 'Input'}">
                <div th:replace="form-fields.html :: stringField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Number'}">
                <div th:replace="form-fields.html :: numberField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Datetime'}">
                <div th:replace="form-fields.html :: dateTimeField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'ObjectSelect'}">
                <div th:replace="form-fields.html :: objectSelectField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
        </div>
    </div>
    <div th:each="field: ${additionalElements}" style="padding-top: 10px; padding-left: 10px">
        <div class="mdl-card mdl-shadow--8dp" style="width: 60%; min-height: 120px; padding-left: 10px; background: #B2DCEF">
            <div th:if="${field.fieldType == 'Input'}">
                <div th:replace="form-fields.html :: stringField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Number'}">
                <div th:replace="form-fields.html :: numberField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'Datetime'}">
                <div th:replace="form-fields.html :: dateTimeField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
            <div th:if="${field.fieldType == 'ObjectSelect'}">
                <div th:replace="form-fields.html :: objectSelectField (name=${field.name}, propName=${field.ontologyProperty.name},
                multipleValues=${field.maximumValues}, required=${field.required})"></div>
            </div>
        </div>
    </div>
    <div>
        <button id="new-field-button" type="button" class="mdl-button mdl-js-button mdl-button--raised" style="margin-top: 50px">
            Add new field
        </button>
    </div>
    <div style="display: flex; padding-top: 100px">
        <div>
            <button id="save-button" type="button" class="mdl-button mdl-js-button mdl-button--raised">Save</button>
        </div>
        <div>
            <button id="validate-save-button" type="button" class="mdl-button mdl-js-button mdl-button--raised">Validate and
                save
            </button>
        </div>
    </div>
</form>
<dialog id="add-property-dialog" class="mdl-dialog" style="width: 400px">
    <h2 class="mdl-dialog__title">Add field to form</h2>
    <div class="mdl-dialog__content">
        <p>Add a new field to this form instance. How do you want to call your field?
        </p>
        <div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="new-property-input">Property</label>
                <input class="mdl-textfield__input" type="text" name="new-property-input" id="new-property-input">
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" id="new-property">Search</button>
            <button class="mdl-button mdl-js-button mdl-button--raised" id="new-property-reset">Reset</button>
        </div>

        <div style="padding-top: 30px">
            <label for="new-property-class-select">Select a property</label>
            <select id="new-property-class-select" name="new-property-class-select"></select>
        </div>

        <div>
            <h5>Description:</h5>
            <p id="new-property-comment"></p>
        </div>

        <div>
            <h5>Content of this field:</h5>
            <p id="new-property-class-range"></p>
        </div>

        <hr style="border-top: 3px dashed #bbb">

        <div>
            <p>No fitting property found? Create one</p>
            <button class="mdl-button mdl-js-button mdl-button--raised">
                <a onclick="openNewPropertyDialog()">Create new property</a>
            </button>
        </div>

        <hr style="border-top: 3px dashed #bbb">

        <button class="mdl-button mdl-js-button mdl-button--raised">
            <a onclick="createField()">Create field</a>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised close">
            <a>Cancel</a>
        </button>
    </div>

</dialog>
<dialog id="add-new-property-dialog" class="mdl-dialog" style="width: 400px">
    <h2 class="mdl-dialog__title">Add new property to ontology</h2>


    <div class="mdl-dialog__content">
        <p>Create a new property and add a field to this ontology.</p>
        <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="new-property-name">Property name</label>
            <input class="mdl-textfield__input" type="text" name="new-property-name" id="new-property-name">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="new-property-description">Description</label>
            <textarea class="mdl-textfield__input" name="new-property-description" id="new-property-description"> </textarea>
        </div>
        <fieldset>
            <legend>Select a range type</legend>
            <div>
                <input type="radio" id="create-property-dialog-option-1" name="create-property-dialog-option"
                       value="1" onclick="checkOptionOfNewProperty()" checked>
                <label for="create-property-dialog-option-1">Data object</label>
            </div>
            <div>
                <input type="radio" id="create-property-dialog-option-2" name="create-property-dialog-option"
                       value="2" onclick="checkOptionOfNewProperty()">
                <label for="create-property-dialog-option-2">Individual from ontology</label>
            </div>
            <div id="div-datatype-option" style="display:block">
                <label for="create-property-with-datatype">Datatype</label>
                <select id="create-property-with-datatype" name="create-property-with-datatype">
                    <option value="string">String</option>
                    <option value="int">Integer</option>
                    <option value="float">Float</option>
                    <option value="datetime">Datetime</option>
                </select>
            </div>
            <div id="div-object-option" style="display:none;">
                <div style="padding-bottom: 5px; padding-top: 5px">
                    <button class="mdl-button mdl-js-button mdl-button--raised">
                        <a onclick="selectObjectPropertyFromGraph()">Select class from graph</a>
                    </button>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <label for="create-property-with-object">Selected class</label>
                    <input class="mdl-textfield__input" id="create-property-with-object" type="text" name="create-property-with-object" readonly>
                </div>

            </div>
            <div style="padding-top: 15px; padding-bottom: 15px">
                <input type="checkbox" id="create-property-skip-validate" name="create-property-skip-validate">
                <label for="create-property-skip-validate">Skip validation (only for experienced users!)</label>
            </div>
        </fieldset>
        <button class="mdl-button mdl-js-button mdl-button--raised" style="padding-bottom: 10px;">
            <a onclick="createNewProperty()">Create property</a>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised close">
            <a>Cancel</a>
        </button>
    </div>



</dialog>
<dialog id="select-class-for-property-dialog">
    <h1>Classes of ontology</h1>
    <h2 th:text="${ontology}"></h2>
    <h3>Select the range of the new property</h3>
    <div id="class-select-container" style="width: 800px; height: 600px; background: white"
         oncontextmenu="return false;"></div>
    <div>
        <input id="new-object-property-range" type="text" name="new-object-property-range" readonly>
        <label for="new-object-property-range">Selected class</label>
    </div>
    <button class="close">
        <a>Select</a>
    </button>
</dialog>
<dialog id="add-subclass-dialog">
    <h2>Add new subclass</h2>
    <p>Enter a name for the class. The class will be created as a subclass of </p>
    <p id="add-subclass-dialog-superclass"></p>
    <div class="mdl-textfield mdl-js-textfield">
        <input id="newClassName" class="mdl-textfield__input" type="text" name="newClassName">
        <label class="mdl-textfield__label" for="newClassName">Class name</label>
    </div>
    <button>
        <a onclick="createSubclass()">Create subclass</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<dialog id="add-individual-dialog">
    <h2>Create new individual</h2>
    <p>How do you want to create a new individual for the following class?
        (The current form will be saved as draft)
    </p>
    <p id="create-individual-dialog-ontology-class"></p>
    <p hidden id="create-individual-dialog-ontology-uri"></p>
    <fieldset>
        <legend>Select a creation option.</legend>
        <div>
            <input type="radio" id="create-individual-dialog-option-1" name="create-individual-dialog-option"
                   value="1" checked>
            <label for="create-individual-dialog-option-1">Empty individual</label>
            <input type="text" name="create-individual-name" id="create-individual-name">
            <label for="create-individual-name">Individual name</label>
        </div>
        <div>
            <input type="radio" id="create-individual-dialog-option-2" name="create-individual-dialog-option"
                   value="2">
            <label for="create-individual-dialog-option-2">Create from form</label>
            <select id="create-individual-form-list"></select>
            <label for="create-individual-form-list">Forms</label>
        </div>
    </fieldset>
    <button>
        <a onclick="createIndividual()">Create individual</a>
    </button>
    <button class="close">
        <a>Cancel</a>
    </button>
</dialog>
<div style="padding-top: 20px">
    <a onclick="createDraftAndGoToHomepage()" id="create-draft-button"
       class="mdl-button mdl-js-button mdl-button--raised">
        Create draft
    </a>
</div>
<div style="padding-top: 20px">
    <a href="/" id="return-to-homepage-button" class="mdl-button mdl-js-button mdl-button--raised">
        Cancel
    </a>
</div>
<script th:inline="javascript">
    const ontologyName = [[${ontology}]];
    const formElements = [[${formElements}]];
    const additionalElements = [[${additionalElements}]];
    const allFormElements = formElements.concat(additionalElements);
    const formName = [[${form}]];
    const setElements = [[${setElements}]];
    const targetClass = [[${targetClass}]];
    let individualName = [[${individualName}]];
    let draftName = [[${draftName}]];
    let allPropertiesOfTargetClass;

    let subclassGraphBuild = false;

    initFormFiller();

    const dialog = document.querySelector('#add-individual-dialog');
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });

    const newFieldDialog = document.querySelector('#add-property-dialog');
    const newFieldButton = document.querySelector('#new-field-button');
    newFieldButton.addEventListener('click', function () {
        prepareNewFieldDialog();
    });
    newFieldDialog.querySelector('.close').addEventListener('click', function () {
        newFieldDialog.close();
    });

    const newPropertySearchButton = document.querySelector('#new-property');
    newPropertySearchButton.addEventListener('click', function () {
        queryProperties();
    });

    const newPropertyResetButton = document.querySelector('#new-property-reset');
    newPropertyResetButton.addEventListener('click', function () {
        let select = $('#new-property-class-select')[0].selectize;
        select.clear();
        select.clearOptions();
        allPropertiesOfTargetClass.forEach(property => select.addOption(property));
    });


    const saveButton = document.querySelector('#save-button');
    saveButton.addEventListener('click', function () {
        saveForm(false);
    });

    const validateSaveButton = document.querySelector('#validate-save-button');
    validateSaveButton.addEventListener('click', function () {
        saveForm(true);
    });

</script>
</body>
</html>