<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OntoFormGenerator</title>
    <link rel="stylesheet" href="./material.min.css">
    <script src="./material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1>OntoFormGenerator</h1>
    <div>
        <h2>Forms</h2>
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">
                    Form1
                </h3>
            </div>
            <div class="mdl-card__supporting-text">
                Wines and Meals
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Open
                </a>
        </div>
    </div>
</body>
</html>