<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OntoFormGenerator</title>
    <link rel="stylesheet" href="./material.min.css">
    <script src="./material.min.js"></script>
    <script th:inline="javascript">
        const ontologies = [[${ontologies}]];
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .ontology-list {
            width: 600px;
        }
        .clickable-button {
            cursor: pointer;
        }
    </style>

</head>
<body>
    <h1>OntoFormGenerator</h1>
    <div>
        <button onclick="location.href='/ontologies/forms'" id="export-forms" class="mdl-button mdl-js-button mdl-button--raised">
            Export forms
        </button>
        <h2>Forms</h2>
        <button id="form-create-dialog-button" class="mdl-button mdl-js-button mdl-button--raised">
            Create new form
        </button>
        <dialog id="formCreateDialog" class="mdl-dialog">
            <h4>Create new form</h4>
            <form class="mdl-dialog__content" action="/api/forms" method="post" enctype="multipart/form-data">
                <div>
                    <label for="formName">Form name</label>
                    <input type="text" id="formName" name="formName">
                </div>
                <div>
                    <label for="ontologyNameInFormCreate">Ontology name</label>
                    <select type="file" id="ontologyNameInFormCreate" name="ontologyNameInFormCreate">
                        <option th:each="ontology : ${ontologies}" th:text="${ontology.getName()}"
                                onchange="autoFillURI()">Ontology</option>
                    </select>
                </div>
                <div>
                    <label for="ontologyURIInFormCreate">Ontology IRI</label>
                    <input type="text" id="ontologyURIInFormCreate" name="ontologyURIInFormCreate" readonly>
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
            </form>
            <div class="mdl-dialog__actions">
                <button type="button" class="close">Cancel</button>
            </div>
        </dialog>
        <ul class="mdl-list ontology-list">
            <li class="mdl-list__item" th:each="form : ${forms}">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h3 class="mdl-card__title-text" th:text="${form.getFormName()}">
                            Form1
                        </h3>
                    </div>
                    <div class="mdl-card__supporting-text" th:text="${form.getOntologyName()}">
                        Wines and Meals
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a th:href="@{/editor/{name}(name=${form.getFormName()},ontology=${form.getOntologyName()})}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Edit form
                        </a>
                        <a th:href="@{/fill/{name}(name=${form.getFormName()},ontology=${form.getOntologyName()})}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Fill form
                        </a>
                    </div>
                </div>
            </li>
            <li class="mdl-list__item" th:if="${forms.isEmpty()}">
                <span class="mdl-list__item-primary-content">
                    No forms
                </span>
            </li>
        </ul>
    </div>
    <div>
        <h2>Ontologies</h2>
        <button id="show-ontology-import-dialog" class="mdl-button mdl-js-button mdl-button--raised">
            Import new ontology
        </button>
        <dialog id="importOntologyDialog" class="mdl-dialog">
            <h4>Import new ontology</h4>
            <form class="mdl-dialog__content" action="/ontologies" method="post" enctype="multipart/form-data">
                <div>
                    <label for="ontologyName">Ontology name</label>
                    <input type="text" id="ontologyName" name="ontologyName">
                </div>
                <div>
                    <label for="file">Ontology file</label>
                    <input type="file" id="file" name="file">
                </div>
                <div>
                    <button type="submit">Import</button>
                </div>
            </form>
            <div class="mdl-dialog__actions">
                <button type="button" class="close">Cancel</button>
            </div>
        </dialog>
        <ul class="mdl-list ontology-list">
            <li class="mdl-list__item" th:each="ontology : ${ontologies}">
                <span class="mdl-list__item-primary-content" th:text="${ontology.getName()}">
                    Ontology
                </span>
                <a class="mdl-list__item-secondary-action clickable-button"
                   th:data-ontology-name="${ontology.getName()}" th:data-ontology-iri="${ontology.getIri()}"
                   onclick="deleteOntology(this.getAttribute('data-ontology-name'), this.getAttribute('data-ontology-iri'));">
                    <i class="material-icons">delete</i></a>
                <a class="mdl-list__item-secondary-action clickable-button"
                   th:data-ontology="${ontology.name}"
                   onclick="location.href='/ontologies/' + this.getAttribute('data-ontology')">
                    <i class="material-icons">download</i></a>
            </li>
            <li class="mdl-list__item" th:if="${ontologies.isEmpty()}">
                <span class="mdl-list__item-primary-content">
                    No ontologies
                </span>
            </li>
        </ul>
    </div>
    <script>
        var importOntologyDialog = document.querySelector('#importOntologyDialog');
        var showDialogButton = document.querySelector('#show-ontology-import-dialog');
        showDialogButton.addEventListener('click', function() {
            importOntologyDialog.showModal();
        });
        importOntologyDialog.querySelector('.close').addEventListener('click', function() {
            importOntologyDialog.close();
        });

        var createFormDialog = document.querySelector('#formCreateDialog');
        var showCreateFormDialogButton = document.querySelector('#form-create-dialog-button');
        showCreateFormDialogButton.addEventListener('click', function() {
            createFormDialog.showModal();
        });
        createFormDialog.querySelector('.close').addEventListener('click', function() {
            createFormDialog.close();
        });
        function deleteOntology(ontologyName, ontologyIri) {
            // let params = new URLSearchParams();
            // params.set("iri", );
            fetch("/ontologies/" + ontologyName, {
                method: 'DELETE'
            }).then(function(response) {
                if (response.ok) {
                    location.reload();
                }
            });
        }
        function exportOntology(ontologyName) {
            fetch("/ontologies/" + ontologyName, {
                method: 'GET'
            });
        }
        function autoFillURI() {
            const ontologyName = document.getElementById('ontologyNameInFormCreate').value;
            for (let i = 0; i < ontologies.length; i++) {
                if (ontologies[i].name === ontologyName) {
                    document.getElementById('ontologyURIInFormCreate').value = ontologies[i].iri;
                    break;
                }
            }
        }
        autoFillURI();
    </script>
</body>
</html>