<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        if (location.href.includes("api")) {
            location.href = "/"
        }
    </script>
    <meta charset="UTF-8">
    <title>OntoFormGenerator</title>
    <link rel="stylesheet" href="./material.min.css">
    <link rel="stylesheet" href="/selectize.default.min.css">
    <script src="/js-loading-overlay.min.js"></script>
    <script src="./material.min.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/selectize.min.js"></script>
    <script th:inline="javascript">
        const ontologies = [[${ontologies}]];
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .ontology-list {
            width: 600px;
        }

        .second-fab-button {
            transform: translate(0%, -120%);
        }

        .third-fab-button {
            transform: translate(0%, -240%);
        }

        .fourth-fab-button {
            transform: translate(0%, -360%);
        }

        .clickable-button {
            cursor: pointer;
        }

        .floating-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #6200ea;
            color: white;
            border: none;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    </style>

</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">OntoFormGenerator</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="#forms" class="mdl-layout__tab is-active">Forms</a>
            <a href="#ontologies" class="mdl-layout__tab">Ontologies</a>
            <a href="#individuals" class="mdl-layout__tab">Individuals</a>
        </div>

    </header>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="forms">
            <div class="page-content">
                <button id="form-create-dialog-button"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent floating-button">
                    <i class="material-icons">add</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="form-create-dialog-button">
                    Create Form
                </div>
                <button id="export-forms" onclick="location.href='/ontologies/forms'"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent floating-button second-fab-button">
                    <i class="material-icons">download</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="export-forms">
                    Download Forms ontology
                </div>
                <button id="restart" onclick="fetch('/restart', {method: 'POST'})"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent floating-button third-fab-button">
                    <i class="material-icons">restart_alt</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="restart">
                    Restart App
                </div>
                <button id="restart_withDelete" onclick="fetch('/restart?deleteDB=true', {method: 'POST'})"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent floating-button fourth-fab-button">
                    <i class="material-icons">delete</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="restart_withDelete">
                    Reset App
                </div>
                <div>
                    <dialog id="formCreateDialog" class="mdl-dialog">
                        <h4 class="mdl-dialog__title"> Create new form</h4>
                        <div class="mdl-dialog__content">
                            <form action="/api/forms" method="post"
                                  enctype="multipart/form-data">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="formName">Form name</label>
                                    <input class="mdl-textfield__input" type="text" id="formName" name="formName"
                                           required>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="ontologyNameInFormCreate">Ontology
                                        name</label>
                                    <select class="mdl-textfield__input" type="file" id="ontologyNameInFormCreate"
                                            name="ontologyNameInFormCreate" required
                                            onchange="autoFillURI();refreshAvailableClasses()">
                                        <option th:each="ontology : ${ontologies}" th:text="${ontology.getName()}">
                                            Ontology
                                        </option>
                                    </select>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="ontologyURIInFormCreate">Ontology
                                        IRI</label>
                                    <input class="mdl-textfield__input" type="text" id="ontologyURIInFormCreate"
                                           name="ontologyURIInFormCreate" readonly>
                                </div>
                                <div>
                                    <select required name="targetClass" id="classSelectInFormCreate"></select>
                                    <label for="classSelectInFormCreate">Ontology class</label>
                                </div>
                                <div>
                                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Create
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="mdl-dialog__actions">
                            <button type="button" class="close mdl-button mdl-js-button mdl-button--raised">Cancel
                            </button>
                        </div>
                    </dialog>
                    <ul class="mdl-list ontology-list">
                        <li class="mdl-list__item" th:each="form, iter : ${forms}">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h3 class="mdl-card__title-text" th:text="${form.getFormName()}">
                                        Form1
                                    </h3>
                                </div>
                                <div class="mdl-card__menu">
                                    <button th:id="'delete-form-button--' + ${form.getFormName()}"
                                            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect delete-form-button">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="mdl-card__supporting-text"
                                     th:text="${form.getOntologyName()} + ' --- ' + ${form.getTargetClass().name}">
                                    Wines and Meals
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a th:if="${formDrafts.get(iter.index).size == 0}"
                                       th:href="@{/editor/{name}(name=${form.getFormName()},ontology=${form.getOntologyName()})}"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        Edit form
                                    </a>
                                    <a th:href="@{/fill/{name}(name=${form.getFormName()},ontology=${form.getOntologyName()})}"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        Fill form
                                    </a>
                                    <button th:id="'show-individuals-button--' + ${form.getOntologyName()} + '--' + ${form.getFormName()}"
                                            class="mdl-button mdl-js-button mdl-button--raised show-individuals-button">
                                        Show individuals
                                    </button>
                                    <button th:id="'show-drafts-button-' + ${form.getFormName()}"
                                            class="mdl-button mdl-js-button mdl-button--raised show-drafts-button">
                                        Show drafts
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="mdl-list__item" th:if="${forms.isEmpty()}">
                <span class="mdl-list__item-primary-content">
                    No forms
                </span>
                        </li>
                    </ul>
                </div>
                <dialog id="showIndividualsDialog" class="mdl-dialog">
                    <h4>Created individuals by form</h4>
                    <ul id="showIndividualsList" class="mdl-list">
                    </ul>
                    <div class="mdl-dialog__actions">
                        <button type="button" class="close">Cancel</button>
                    </div>
                </dialog>
                <dialog id="showDraftsDialog" class="mdl-dialog">
                    <h4>Current drafts by form</h4>
                    <ul id="showDraftsList" class="mdl-list">
                    </ul>
                    <div class="mdl-dialog__actions">
                        <button type="button" class="close">Cancel</button>
                    </div>
                </dialog>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="ontologies">
            <div class="page-content">
                <button id="show-ontology-import-dialog"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent floating-button">
                    <i class="material-icons">add</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="show-ontology-import-dialog">
                    Import new ontology
                </div>
                <div>
                    <dialog id="importOntologyDialog" class="mdl-dialog">
                        <h4 class="mdl-dialog__title">Import new ontology</h4>
                        <div class="mdl-dialog__content">
                            <form action="/ontologies" method="post"
                                  enctype="multipart/form-data">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="ontologyName">Ontology name</label>
                                    <input class="mdl-textfield__input" type="text" id="ontologyName"
                                           name="ontologyName" required>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="file">Ontology file</label>
                                    <input class="mdl-textfield__input" type="file" id="file" name="file" required>
                                </div>
                                <div>
                                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Import
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button class="mdl-button mdl-js-button mdl-button--raised close" type="button">Cancel
                            </button>
                        </div>
                    </dialog>
                    <ul class="mdl-list ontology-list">
                        <li class="mdl-list__item" th:each="ontology : ${ontologies}">
                <span class="mdl-list__item-primary-content" th:text="${ontology.getName()}">
                    Ontology
                </span>
                            <a class="mdl-list__item-secondary-action clickable-button"
                               th:data-ontology-name="${ontology.getName()}" th:data-ontology-iri="${ontology.getIri()}"
                               onclick="deleteOntology(this.getAttribute('data-ontology-name'), this.getAttribute('data-ontology-iri'));">
                                <i class="material-icons">delete</i></a>
                            <a class="mdl-list__item-secondary-action clickable-button"
                               th:data-ontology="${ontology.name}"
                               onclick="location.href='/ontologies/' + this.getAttribute('data-ontology')">
                                <i class="material-icons">download</i></a>
                        </li>
                        <li class="mdl-list__item" th:if="${ontologies.isEmpty()}">
                <span class="mdl-list__item-primary-content">
                    No ontologies
                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="individuals">
            <div class="page-content">
                <div>
                    <h3>Select an ontology</h3>
                    <table id="ontology-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <tr th:each="ontology : ${ontologies}">
                            <th th:text="${ontology.getName()}">Ontology</th>
                            <th>
                                <button th:id="'select-ontology-' + ${ontology.getName()}"
                                        class="mdl-button mdl-js-button mdl-button--raised select-ontology">
                                    Select
                                </button>
                            </th>
                        </tr>
                    </table>
                </div>
                <div>
                    <h3>Select a target class</h3>
                    <table id="class-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">>

                    </table>
                </div>
                <div>
                    <h3>Select an individual</h3>
                    <table id="individual-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">>

                    </table>
                </div>
            </div>
        </section>
    </main>
</div>
<script th:inline="javascript">
    var formDrafts = [[${formDrafts}]];
    var forms = [[${forms}]];
    var importOntologyDialog = document.querySelector('#importOntologyDialog');
    var showDialogButton = document.querySelector('#show-ontology-import-dialog');
    showDialogButton.addEventListener('click', function () {
        importOntologyDialog.showModal();
    });
    importOntologyDialog.querySelector('.close').addEventListener('click', function () {
        importOntologyDialog.close();
    });

    var createFormDialog = document.querySelector('#formCreateDialog');
    var showCreateFormDialogButton = document.querySelector('#form-create-dialog-button');
    showCreateFormDialogButton.addEventListener('click', function () {
        createFormDialog.showModal();

    });
    createFormDialog.querySelector('.close').addEventListener('click', function () {
        createFormDialog.close();
    });

    var deleteFormButtons = document.querySelectorAll('.delete-form-button');
    deleteFormButtons.forEach(el => el.addEventListener('click', async function (event) {
        let buttonId = event.currentTarget.id
        let formName = buttonId.replace('delete-form-button--', '');
        fetch('/api/forms/' + formName, {
            method: 'DELETE'
        }).then(function (response) {
            if (response.ok) {
                location.reload();
            }
        });
    }));

    var showIndividualsDialog = document.querySelector('#showIndividualsDialog');
    var showIndividualsButtons = document.querySelectorAll('.show-individuals-button');
    showIndividualsButtons.forEach(el => el.addEventListener('click', async function (event) {
        let buttonId = event.currentTarget.id
        let ontologyAndFormName = buttonId.replace('show-individuals-button--', '');
        let ontologyName = ontologyAndFormName.split('--')[0];
        let formName = ontologyAndFormName.split('--')[1];
        let individuals = await fetch('/api/forms/' + formName + "/individuals").then(response => response.json());
        let showIndividualsList = document.querySelector('#showIndividualsList');
        showIndividualsList.innerHTML = '';
        for (let i = 0; i < individuals.length; i++) {
            let individual = individuals[i];
            let n = individual.name;
            let listItem = document.createElement('li');
            listItem.classList.add('mdl-list__item');
            listItem.innerHTML = `
                <span class="mdl-list__item-primary-content">` + individual.label + `</span>
                <a class="mdl-list__item-secondary-action clickable-button"
                                       href="/edit/ontologies/` + ontologyName + `/individuals/` + n + `">
                                        <i class="material-icons">edit</i></a>
                        <button class="mdl-list__item-secondary-action clickable-button"
                                       onclick="fetch('/api/ontologies/${ontologyName}/individual?uri=${encodeURIComponent(individual.iri)}',
                                       {method: 'DELETE'}).then(async () => location.reload())">
                                        <i class="material-icons">delete</i></button>`
            showIndividualsList.appendChild(listItem);
        }
        showIndividualsDialog.showModal();
    }));

    showIndividualsDialog.querySelector('.close').addEventListener('click', function () {
        showIndividualsDialog.close();
    });

    var showDraftsDialog = document.querySelector('#showDraftsDialog');
    var showDraftsButtons = document.querySelectorAll('.show-drafts-button');
    showDraftsButtons.forEach(el => el.addEventListener('click', async function (event) {
        let buttonId = event.currentTarget.id
        let formName = buttonId.replace('show-drafts-button-', '');
        let i = forms.findIndex(form => form.formName === formName);
        let drafts = formDrafts[i];
        let showDraftsList = document.querySelector('#showDraftsList');
        showDraftsList.innerHTML = '';
        for (let i = 0; i < drafts.length; i++) {
            let individual = drafts[i];
            let listItem = document.createElement('li');
            listItem.classList.add('mdl-list__item');
            listItem.innerHTML = `
                <span class="mdl-list__item-primary-content">` + individual.name + `</span>
                <a class="mdl-list__item-secondary-action clickable-button"
                                       href="/fill/` + formName + `/draft/` + individual.name + `">
                                        <i class="material-icons">edit</i></a>
                <button class="mdl-list__item-secondary-action clickable-button"
                                       onclick="fetch('/api/forms/${formName}/draft?uri=${encodeURIComponent(individual.iri)}',
                                       {method: 'DELETE'}).then(async () => location.reload())">
                                        <i class="material-icons">delete</i></button>`
            showDraftsList.appendChild(listItem);
        }
        showDraftsDialog.showModal();
    }));

    showDraftsDialog.querySelector('.close').addEventListener('click', function () {
        showDraftsDialog.close();
    });

    let selectOntologyButtons = document.querySelectorAll('.select-ontology');
    selectOntologyButtons.forEach(el => el.addEventListener('click', async function (event) {
        let buttonId = event.currentTarget.id;
        let ontologyName = buttonId.replace('select-ontology-', '');
        let classes = await fetch('/api/ontologies/' + ontologyName + '/targetClasses').then(response => response.json());
        let classTable = document.querySelector('#class-table');
        classTable.innerHTML = '';
        for (let i = 0; i < classes.length; i++) {
            let curClass = classes[i];
            let row = document.createElement('tr');
            row.innerHTML = `
                <td>` + curClass.name + `</td>
                <td>
                    <button class="mdl-button
                                    mdl-js-button
                                    mdl-button--raised
                                    select-class"
                                    data-ontology="` + ontologyName + `"
                                    data-class-name="` + curClass.name + `"
                                    data-class-uri="` + curClass.uri + `"
                                    onclick="onSelectClass(this.getAttribute(\'data-class-name\'), this.getAttribute('data-class-uri'),
                                    this.getAttribute(\'data-ontology\'))">
                            Select
                    </button>
                </td>`;
            classTable.appendChild(row);
        }
    }));

    async function onSelectClass(ontClassName, ontClassUri, ontName) {
        JsLoadingOverlay.show({'spinnerIcon': 'ball-clip-rotate'});
        let individuals = await fetch('/api/ontologies/' + ontName + '/classes/' + ontClassName + '/individuals?withImportedIndividuals=false&classIri=' + encodeURIComponent(ontClassUri))
            .then(response => response.json());
        let individualTable = document.querySelector('#individual-table');
        individualTable.innerHTML = '';
        for (let i = 0; i < individuals.length; i++) {
            let individual = individuals[i];
            let row = document.createElement('tr');
            row.innerHTML = `
                <td>` + individual.label + `</td>
                <td>
                    <button class="mdl-button
                                    mdl-js-button
                                    mdl-button--raised
                                    select-individual"
                                    data-ontology="` + ontName + `"
                                    data-individual="` + individual.name + `"
                                    onclick="onSelectIndividual(this.getAttribute(\'data-individual\'),
                                    this.getAttribute(\'data-ontology\'))">
                            Edit
                    </button>
                </td>
                <td>
                    <button class="mdl-button
                                    mdl-js-button
                                    mdl-button--raised
                                    select-individual"
                                    data-ontology="` + ontName + `"
                                    data-individual="` + encodeURIComponent(individual.iri) + `"
                                    onclick="fetch('/api/ontologies/' + this.getAttribute(\'data-ontology\') + '/individual?uri=' + this.getAttribute(\'data-individual\'),
                                    {method: 'DELETE'}).then(async () => location.reload())">
                            Delete
                   </td>`;
            individualTable.appendChild(row);
        }
        JsLoadingOverlay.hide();
    }

    function onSelectIndividual(individualName, ontologyName) {
        location.href = '/edit/ontologies/' + ontologyName + '/individuals/' + individualName;
    }

    function deleteOntology(ontologyName, ontologyIri) {
        // let params = new URLSearchParams();
        // params.set("iri", );
        fetch("/ontologies/" + ontologyName, {
            method: 'DELETE'
        }).then(function (response) {
            if (response.ok) {
                location.reload();
            }
        });
    }

    function exportOntology(ontologyName) {
        fetch("/ontologies/" + ontologyName, {
            method: 'GET'
        });
    }

    function autoFillURI() {
        const ontologyName = document.getElementById('ontologyNameInFormCreate').value;
        for (let i = 0; i < ontologies.length; i++) {
            if (ontologies[i].name === ontologyName) {
                document.getElementById('ontologyURIInFormCreate').value = ontologies[i].iri;
                break;
            }
        }
    }

    autoFillURI();

    function refreshAvailableClasses() {
        const ontologyName = document.getElementById('ontologyNameInFormCreate').value;
        fetch('/api/ontologies/' + ontologyName + '/classes')
            .then(response => response.json())
            .then(classes => {
                $('#classSelectInFormCreate')[0].selectize.clearOptions();
                for (let i = 0; i < classes.length; i++) {
                    $('#classSelectInFormCreate')[0].selectize.addOption(classes[i]);
                }
                $('#classSelectInFormCreate')[0].selectize.refreshOptions(true);
            });
    }

    $('#classSelectInFormCreate').selectize({
        valueField: 'name',
        labelField: 'name',
        searchField: 'name',
        options: [],
        maxItems: 1
    });


    refreshAvailableClasses();

</script>
</body>
</html>